#tablaturas {
  background: #ccc;
}

#tablaturas span {
  background: yellow;
}

main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

div#options {
  background: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
}
